# IDE
/.vscode/
/.idea/

# Secrets
/.env
access_token.json
access_token_*.json

# Cache
__pycache__
/.pytest_cache/

# Dist
/build/
/dist/
*.egg-info

# Coverage
/coverage.xml
/.coverage

# Jupyter
.ipynb_checkpoints
