[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylama = "*"
pre-commit = "*"
coverage = "*"
pytest-cov = "*"
pipenv-setup = "*"
responses = "*"
pytest-socket = "*"
freezegun = "*"

[packages]
websockets = "*"
environs = "*"
requests = "*"
