[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylama = "*"
pre-commit = "*"
coverage = "*"
pytest-cov = "*"
codacy-coverage = "*"
iolite = {editable = true,path = "."}
black = "==19.10b0"
toml = "*"
responses = "*"
isort = "==4.3.21"
pipenv-setup = "*"
pytest-socket = "*"
freezegun = "*"

[packages]
websockets = "*"
environs = "*"
requests = "*"

[pipenv]
allow_prereleases = true
