name: CI

on:
  push:
    branches: [master]
  pull_request: ~

jobs:
  lint:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: 3.9
        architecture: 'x64'
    - uses: dschep/install-pipenv-action@v1
    - name: Install pip dependencies
      run: pipenv install -d
    - name: pre-commit
      run: pipenv run pre-commit run --all-files --show-diff-on-failure
  test:
    strategy:
      matrix:
        python-version: [3.9, 3.8]
    runs-on: ubuntu-18.04
    env:
      IS_COVERAGE_ALLOWED: ${{ secrets.CODACY_PROJECT_TOKEN != '' }}
      IS_MASTER_BRANCH: ${{ github.ref == 'refs/heads/master' }}
    steps:
    - name: Debug
      run: |
        echo "IS_MASTER_BRANCH: ${{ env.IS_MASTER_BRANCH }}"
        echo "IS_COVERAGE_ALLOWED: ${{ env.IS_COVERAGE_ALLOWED }}"
    - name: Debug Block
      if: ${{ matrix.python-version == 3.9 && secrets.CODACY_PROJECT_TOKEN != '' && github.ref == 'refs/heads/master' }}
      run: echo "This should not be printed"
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'
    - uses: dschep/install-pipenv-action@v1
    - name: Install pip dependencies
      run: pipenv install -d
    - name: Test
      run: pipenv run pytest --cov-report xml --cov=iolite test/
    - name: Upload coverage
      if: ${{ env.IS_MASTER_BRANCH }}
      uses: codacy/codacy-coverage-reporter-action@master
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: coverage.xml
  check-dependency-sync:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install pipenv
      run: python -m pip install --upgrade pipenv wheel
    - name: Install pip dependencies
      run: pipenv install -d
    - name: Check package sync
      run: pipenv run pipenv-setup check
