name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: 3.9
        architecture: 'x64'
    - uses: dschep/install-pipenv-action@v1
    - name: Install pip dependencies
      run: pipenv install -d
    - name: pre-commit
      run: pipenv run pre-commit run --all-files --show-diff-on-failure
  test:
    strategy:
      matrix:
        python-version: [3.9, 3.8]
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'
    - uses: dschep/install-pipenv-action@v1
    - name: Install pip dependencies
      run: pipenv install -d
    - name: Test
      run: pipenv run pytest --cov-report xml --cov=iolite test/
    - name: Upload coverage
      if: matrix.python-version == 3.9
      run: pipenv run python-codacy-coverage -r coverage.xml
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
  check-dependency-sync:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install pipenv
      run: python -m pip install --upgrade pipenv wheel
    - name: Install pip dependencies
      run: pipenv install -d
    - name: Check package sync
      run: pipenv run pipenv-setup check
